Chi square test is applied when we have to categorical variable from a single population.
It is used to determine whether there is any relationshipbetween two varibale or not

In [12]:
import pandas as pd
import numpy as np
import seaborn as sns
import scipy.stats as stats
import math

In [3]:
dataset= sns.load_dataset('tips')

In [4]:
dataset.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

Here we will take two categorical variable sex and smoker

In [5]:
dataset_table= pd.crosstab(dataset['sex'],dataset['smoker'])

In [6]:
print(dataset_table)

smoker  Yes  No
sex
Male     60  97
Female   33  54

In [7]:
observed_value= dataset_table.values

In [8]:
observed_value

array([[60, 97],
       [33, 54]], dtype=int64)

In [13]:
val = stats.chi2_contingency(dataset_table)

In [14]:
val

(0.008763290531773594, 0.925417020494423, 1, array([[59.84016393, 97.15983607],
        [33.15983607, 53.84016393]]))

In [15]:
Expected_values=val[3]

In [16]:
no_of_rows =len(dataset_table.iloc[0:2,0])
no_of_col = len(dataset_table.iloc[0,0:2])
dof=(no_of_rows-1)*(no_of_col-1)
print("Degree ofFreedom:",dof)

Degree ofFreedom: 1

In [17]:
alpha=0.05

In [18]:
from scipy.stats import chi2
chi_square = sum([(o-e)**2/e for o,e in zip(observed_value,Expected_values)])
chi_square_statistic = chi_square[0]+chi_square[1]

In [20]:
print("chi square statistic:", chi_square_statistic)

chi square statistic: 0.001934818536627623

In [21]:
critical_value=chi2.ppf(q=1-alpha,df=dof)
print("critical Value:",critical_value)

critical Value: 3.841458820694124

chi square statistic greater than or equal to critical value,then there is relationship between two categorical variable

In [24]:
if chi_square_statistic >= critical_value:
    print("Reject null hypothesis, there is relationship between categorical variable")
else:
    print("Retain null hypothesis, there is no relationship between categorical variable")

Retain null hypothesis, there is no relationship between categorical variable